@import url('https://fonts.googleapis.com/css?family=Francois+One|Hind+Siliguri&display=swap');
* {
	background: #fec5c2;
}

#flag {
    width: 75px;
    height: 47px;
    position: absolute;
    left: 60%;
}

div.header {
    padding: 25px;
    font-size: 20px;
    position: sticky;
    border-bottom-color: #C49D9D;
    border-bottom-style: solid;
    border-bottom-width: thin;
    height: 50px;
    width: 100%;
}

#homebutton {
    float: right;
    text-decoration: none;
    color: black;
    line-height: 50px;
    font-family: 'Hind Siliguri', sans-serif;

}

div.title {
    width: 25%;
    border-bottom-color: #C49D9D;
    border-bottom-style: solid;
    border-bottom-width: medium;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    margin-top: 50px;
    font-family: 'Francois One', sans-serif;
}

h1{
    font-size: 30px;
	text-align: center;
    line-height: 50px;
    margin: auto;
    font-family: 'Francois One', sans-serif;
}
h2{
    font-size: 25px;
    
}
p {
    font-family: 'Hind Siliguri', sans-serif;
    text-align: center;
}

#pros, #cons {
    margin-top: 20px;
    width: 49.895%;

    text-align: center;
}
#pros {
    float: left;
    border-right-color: #C49D9D;
    border-right-style: solid;
    border-right-width: thin;
}
#cons {
    float: right;
    border-left-color: #C49D9D;
    border-left-style: solid;
    border-left-width: thin;
}
#flag:hover{
    animation-name: spin;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

li {
    font-family: 'Hind Siliguri', sans-serif;
}
.list {
    width: 50%;
    margin: auto;
}

div.tabs {
    font-family: 'Francois One', sans-serif;
}
 
table {
    font-size: 18px;
    float: right;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: 200px;
    margin-top: 20px;

}
 
#berikul {
    border-right-color: #C49D9D;
    border-right-style: solid;
    border-right-width: thin;
    padding-right: 20px;
	padding-left: 20px;
}
 
#berikuler {
    padding-left: 20px;
}
 
a {
    text-decoration: none;
}
.opinion_left {
	float:left; 
	margin-left: 20%;	
	clear: both;
	border-color: #C49D9D;
	border-style: dashed;
}
.opinion_right {
	float: right;
	margin-right: 20%;
	clear: both;
	border-color: #C49D9D;
	border-style: dashed;
}
div.profile {
	width: 200px;
	height: 200px;
	border-style: dotted;
	border-color: black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	clear: both;
}

.profile img{
	height: 200px;
	width: 200px;
	float:left; 
	
}
.profile h2 {
	display: none;
	
}
.profile p {
	display: none;
}

div.profile:hover {	
	width: 35%;
	transition-duration: .5s;
	transition-timing-function: linear;
}
div.profile:hover  h2 {
	display: inline;
	margin: auto;
}
div.profile:hover  p{
	display: block;
	text-align: left;

}

@keyframes appear{
	from {display: none;}
	to {display: block;}
}






